services/mail-service/src/main/webapp/WEB-INF/wsdl/mailService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://mail.javaops.ru/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://mail.javaops.ru/"
             name="MailServiceImplService">
    <types>
        <xs:schema xmlns:tns="http://mail.javaops.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://mail.javaops.ru/">
            <xs:element name="sendBulk" type="tns:sendBulk"/>
            <xs:element name="sendBulkResponse" type="tns:sendBulkResponse"/>
            <xs:element name="sendToGroup" type="tns:sendToGroup"/>
            <xs:element name="sendToGroupResponse" type="tns:sendToGroupResponse"/>
            <xs:complexType name="sendBulk">
                <xs:sequence>
                    <xs:element name="to" type="tns:addressee" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="subject" type="xs:string" minOccurs="0"/>
                    <xs:element name="body" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addressee">
                <xs:sequence>
                    <xs:element name="email" type="xs:string" minOccurs="0"/>
                    <xs:element name="name" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendBulkResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:groupResult" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="groupResult">
                <xs:sequence>
                    <xs:element name="failed" type="tns:mailResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="failedCause" type="xs:string" minOccurs="0"/>
                    <xs:element name="success" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="mailResult">
                <xs:sequence>
                    <xs:element name="email" type="xs:string" minOccurs="0"/>
                    <xs:element name="result" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendToGroup">
                <xs:sequence>
                    <xs:element name="to" type="tns:addressee" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="cc" type="tns:addressee" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="subject" type="xs:string" minOccurs="0"/>
                    <xs:element name="body" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sendToGroupResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="sendBulk">
        <part name="parameters" element="tns:sendBulk"/>
    </message>
    <message name="sendBulkResponse">
        <part name="parameters" element="tns:sendBulkResponse"/>
    </message>
    <message name="sendToGroup">
        <part name="parameters" element="tns:sendToGroup"/>
    </message>
    <message name="sendToGroupResponse">
        <part name="parameters" element="tns:sendToGroupResponse"/>
    </message>
    <portType name="MailService">
        <operation name="sendBulk">
            <input wsam:Action="http://mail.javaops.ru/MailService/sendBulkRequest" message="tns:sendBulk"/>
            <output wsam:Action="http://mail.javaops.ru/MailService/sendBulkResponse" message="tns:sendBulkResponse"/>
        </operation>
        <operation name="sendToGroup">
            <input wsam:Action="http://mail.javaops.ru/MailService/sendToGroupRequest" message="tns:sendToGroup"/>
            <output wsam:Action="http://mail.javaops.ru/MailService/sendToGroupResponse" message="tns:sendToGroupResponse"/>
        </operation>
    </portType>
    <binding name="MailServiceImplPortBinding" type="tns:MailService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="sendBulk">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="sendToGroup">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="MailServiceImplService">
        <port name="MailServiceImplPort" binding="tns:MailServiceImplPortBinding">
            <soap:address location="http://localhost:8080/mail/mailService"/>
        </port>
    </service>
</definitions>